/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

/* End CSS Reset */

#container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

header {
    text-align: center;
}

.main-card,
.content-showcase,
.content-code {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin: 0 0 1.5rem 0;
    overflow: hidden;
    padding: 1.5rem;
    text-align: center;
}

.main-content {
    margin-top: 1rem;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.content-code {
    margin: 0;
    background-color: 	#070525;
    line-height: 1.25;
    color: white;
    text-align: left;
    font-family: monospace;
}

.one-a {
    grid-column-start: 1;
    grid-column-end: 8;
}

.one-b {
    grid-column-start: 8;
    grid-column-end: 13;
}

.two {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
}

.two-a,
.two-c {
    grid-column: 1 / span 8;
}

.two-b {
    grid-column: 9 / span 12;
    grid-row: 1 / span 2;
    background-color: #f6f6df;
    color: #070525;
}

.three {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(174px, 1fr));
    font-size: .7rem;
    row-gap: 1rem;
}

.three-b {
    background-color: #f6f6df;
    color: #070525;
}
